//global variables
$background-skew: 4deg;
$my-green: #97FF73;
$my-green-shadow: #6DD349;
$my-pink: #ffb6d6;
//fonts
@font-face {
	font-family: Josefin Sans;
	font-weight: 600;
	src: url("./fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
	font-family: Annie Use Your Telescope;
	src: url("./fonts/AnnieUseYourTelescope-Regular.ttf");
}
//Shadows
@mixin shadow($color: #000, $text: true, $lg: false) {
    @if($text and $lg){
        text-shadow: .3vw .3vw $color;
    }@else if($text){        
        text-shadow: .9vw .6vw $color;
    } @else {
        box-shadow: 6px 6px $color;
    }
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    text-align: center;

body {
	height: 100vh;
	width: 100vw;
	background-color: $my-pink;
	overflow: hidden;
}
//Background
.background-stripe {
	background-color: white;
	transform: skewY(-$background-skew);
	position: absolute;
	z-index: -1;
	margin: 16% 0 auto;
	height: 70%;
	width: inherit;

	svg {
        transform: skewY($background-skew);
        position: absolute;
        width: 35vw;
        height: auto;
    }
    .circle{
        left: 80%;
        top: 91%;
        width: 15vw;
    }
    .stripe{
        left: 30%;
        top: -9%;
        width: 29vw;

    }
    .triangle{
        left: 0%;
        width: 23vw;
        top: 89%;
    }
    .rectangle{
        left: 6%;
        top: 91%;
        width: 12vw;
    }
    .semicircle{
        right: 0%;
        top: -8%;
        width: 27vw;
    }
}
//rows
.rows {
    height: inherit;
    width: inherit;
	display: grid;
	grid-template-rows: 10% 20% 30% 20% 20%;
	justify-items: center;
    align-items: center;
}
//title
.title {
	font-family: "Josefin Sans";
	font-size: 14vw;
    @include shadow(rgba(0,0,0,.5));
    align-self: flex-end;
}
//face
.face {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	.me {
		height: 80%;
	}
}
//word-box
.word-box {
    width: inherit;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    .quote {
        align-self: center;
        font-size: 4.2vw;
        width: fit-content;
        font-family: "Annie Use Your Telescope";
        background-color: $my-green;
        padding: .6rem;
        border-radius: .6rem;
        @include shadow($my-green-shadow, $text:false);
    }
    .quote:nth-child(2){
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}
//links
.links{
    height: 100%;
    width: 50%;
    overflow: hidden;
    ul{
        height: inherit;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        li{
            width: 30%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            a{  
                height: 75%;
                width: auto;
                &:hover{
                    animation-name: enlargen;
                    animation-duration: 1s;
                }
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
}
//animations
// @keyframes enlargen{
//     0%{opacity: 1;}
//     100%{opacity: 0;}
// }
@media only screen and (min-width: 425px) {
    //Background
	.background-stripe {
		margin: 11% 0 auto;
        height: 70%;
        .stripe{
            left: 55%;
            top: -13%;
            width: 18vw;
        }
	}
	//Title
	.title {
        width: 70%;
        font-size: 12vw;
    }
}
@media only screen and (min-width: 600px) {
    //Background
    .background-stripe { 
        margin: 6% 0 auto;
        height: 70%;
        .triangle{
            left: 0%;
            width: 15vw;
            top: 70%;
        }
        .rectangle{
            left: 5%;
            top: 75%;
            width: 7vw;
        }
        .circle{
            left: 85%;
            top: 88%;
            width: 9vw;
        }
        .stripe{
            left: 65%;
            top: -6%;
            width: 12vw;
        }
        .semicircle{
            top: -8%;
            width: 12vw;
        }
    }
    .word-box {
        .quote {
            font-size: calc(1.5vh + 1.5vw + .4vmin);
        }
    }
    //title
    .title {
        align-self: center;
        font-size: 9vw;
        @include shadow(rgba(0,0,0,.5), $text:true ,$lg: true);
    }
}
@media only screen and (min-width: 768px) {
    
    .triangle{
        left: 0%;
        width: 15vw;
        top: 70%;
    }
    .rectangle{
        left: 5%;
        top: 100%;
        width: 7vw;
    }
    .circle{
        left: 85%;
        top: 88%;
        width: 9vw;
    }
    .stripe{
        left: 75%;
        top: -9%;
        width: 12vw;
    }
    .semicircle{
        top: -8%;
        width: 12vw;
    }  
}
@media only screen and (min-width: 992px) {
    //title
    .title {
        font-size: 7vw;
    }
}